
<h1>Gregory's css cookie garden</h1>
<hr>
<!--FORM-->
<div class="container box {{favcolor}} ">
  <form action="/page" method="post">

    <div class="form-group row">
      <label for="favfood" class="col-sm-2 col-form-label">Favorite Food</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="favfood" id="favfood" placeholder="Enter your favorite food">
      </div>
    </div>

    <div class="form-group">
      <label class="mr-sm-2" for="inlineFormCustomSelect">Favorite Color</label>
      <select name="favcolor" class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
        <option selected>Choose...</option>
        <option value="blue">Blue</option>
        <option value="green">Green</option>
        <option value="yellow">Yellow</option>
      </select>
    </div>

    <fieldset class="form-group ">
      <div class="row">
        <legend class="col-form-legend col-sm-2">Are you good or Evil?</legend>
        <div class="col-sm-10 form-inline">
          <div class="form-check mr-3">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="goodevil" id="gridRadios1" value="good" checked>
              Good
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="goodevil" id="gridRadios2" value="evil">
              Evil
            </label>
          </div>
        </div>
      </div>
    </fieldset>

    <div class="form-group row">
      <div class="col-sm-2">Insanity Level</div>
      <div class="col-sm-10">
        <div class="form-check">

          <input type="range" name="insanity" min="0" max="5">

        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" value="update-page" class="btn btn-primary">Submit</button>
      </div>
    </div>

  </form>
</div>

<hr>

<!--COPY-->
<section class="{{goodevil}}">
  <div class="container">
    {{#if good}}
      {{>good-likes}}
    {{/if}}
    {{#if evil}}
      {{>evil-likes}}
    {{/if}}
  </div>

  <div class="container">
    {{#if good}}
      {{>good-bio}}
    {{/if}}
    {{#if evil}}
      {{>evil-bio}}
    {{/if}}
  </div>

  <div class="container">
    {{#if good}}
      {{>good-resume}}
    {{/if}}
    {{#if evil}}
      {{>evil-resume}}
    {{/if}}
  </div>
</section>

<hr>
